.card {
    background-color: black
}

.correct:hover {
    background-color: lime
}

.wrong:hover {
    background-color: crimson
}

.solution {
    color: black;
}

.solution:hover {
    color: white;
}