<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block title %}Lerne Griechisch{% endblock %}

{% block content %}
<a href="{{ url_for('csv_to_sql') }}" style="text-decoration: none; color: black">Nach Inhalten suchen</a>

    <div class="container">
        <div class="row">
            <div class="col-lx-2 col-md-4">
                <div class="card bg-danger m-5">
                    <a href="{{ url_for('continue_focus') }}" style="text-decoration: none; color: white">
                        <div class="card-body">
                            <h5 class="card-title text-center">Fokus</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% if session["unknown"] %}
                <div class="col-lx-2 col-md-4">
                    <div class="card bg-primary m-5">
                        <a href="{{ url_for('continue_unknown') }}" style="text-decoration: none; color: white">
                            <div class="card-body">
                                <h5 class="card-title text-center">Letzte Unbekannte</h5>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% for chapter in chapters %}
                <div class="col-lx-2 col-md-4">
                    <div class="card bg-dark m-5">
                        <a href="{{ url_for('quiz_write_greek', chapter=chapter) }}" style="text-decoration: none; color: white">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ chapter }}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {% for type in types %}
                <div class="col-lx-2 col-md-4">
                    <div class="card bg-info m-5">
                        <a href="{{ url_for('quiz_write_greek', chapter=type) }}" style="text-decoration: none; color: white">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ type }}</h5>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}