<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block title %}Lerne Griechisch{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Noch {{ words_left }}</h2>
            </div>
            <div class="col-12">
                <div class="card m-5">
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-center" style="color: white">{{ german }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card m-5">
                    <div class="card-body solution">
                        <h5 class="card-title text-center">{{ greek }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <a href="{{ url_for('add_unknown', german=german, greek=greek, chapter=chapter) }}">
                    <div class="btn btn-primary m-5">Nicht gewusst</div>
                </a>
            </div>
            <div class="col-6">
                <a href="{{ url_for('continue_unknown') }}">
                    <div class="btn btn-primary m-5">{{ count_unknown }}</div>
                </a>
            </div>
            <div class="col-12">
                <a href="{{ url_for('save_current_rotation') }}">
                    <div class="btn btn-danger m-5">Momentane Rotation speichern</div>
                </a>
            </div>
		</div>
	</div>

{% endblock %}